*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: white;
  margin: 0;
  text-align: center;

}

nav{


    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px 30px 90px;

    position: relative;
}

nav .logo{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    color: #24242b;
    flex: 1;
   font-family: 'Merriweather', serif;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .menu-items{

    padding-right: 150px;

    display: inline-flex;

}
.dot{
  color: #110e52;
  font-size: 32px;
}

nav .menu-items a{
    text-decoration: none;
    color: black;
    padding: 15px 25px;
    font-size: 18px;
    transition: all .4s ease;
}


nav .menu-items a:hover{
    color: #fff;
}


nav .search-bar{
    border: 1px solid #;
    display: flex;
     color: #c99c99;
    border-radius: 50px;
    height: 50px;
    padding: .2em;
    width: 350px;
    position: relative;
}

nav .search-bar input{
    width: 100%;
    font-size: 17px;
    padding: 0 40px 0 15px;
    color: #c99c99;
    border: none;

    top: 0;
    left: 0;
    bottom: 0;
    outline: none;
    position: absolute;
    line-height: 50px;
}

nav .search-bar .submit{
    font-size: 18px;
    cursor: pointer;
    border: none;

    color: #c99c99;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    outline: none;
    margin-left: auto;
    z-index: 1;
}

nav .search-bar .submit:hover{
    color: #c99c99;
    transition: all .4s ease;
}


h2{
    text-align: center;
    margin-top: 50px;
    color: #8b8a99;
  font-family: 'Montserrat', sans-serif;
}
h2.gg{
  color: white;
  margin-top: 0;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 64px;
font-family: 'Merriweather Sans', sans-serif;
}

.box{
  height: 100px;
  width: 300px;
  background-color: whitesmoke;

    margin-left: 300px;

}
.bos2
{
 height: 600px;
  width: 1200px;
  top: 300px;

    margin-left: 130px;
    margin-bottom: 50px;
    margin-right: 130px;
    border-radius: 25px;


  background-color: #3e62b0;
}



.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 8px;
  border-width: 1;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;

  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 200%;
  height: 44px;
  line-height: 1.15;
  margin: 0px 100px 0px 60px;
  outline: none;
  overflow: hidden;
  padding: 0 25px 30px 46px;

  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


@media (max-width:1030px){

    nav .logo{
        font-size: 20px;
    }
    nav .search-bar{
        width: 270px;
    }

@media (max-width:950px){

    nav .logo{
        font-size: 20px;
    }

    nav .menu-items a{
        padding: 15px 15px;
    }

}

@media (max-width:860px){

    nav .logo{
        flex: none;
        width: 100%;
        margin-right: auto;
        padding: 15px 0;
        font-size: 25px;
    }

    nav .search-bar{
        position: absolute;
        top: 15px;
    }

}

@media (max-width:600px){

    nav .logo{
        text-align: center;
    }

    nav .search-bar{
        top: 80px;
        width: 200px;
    }

    nav .menu-items{
        margin-top: 50px;
        display: block;
    }

    nav .menu-items a{
        display: inline-block;
        text-align: center;
        width: 100%;
    }



}

}
.textbox{
  background-color: white;
  position: absolute;

    bottom: 0px;
    top: 600px;

  border-radius: 25px;

    justify-content: center;

    left: 750px;
    width: 550px;
    height: 350px;
    text-align: left;

}
.ing{
  background-color: white;
  width: 800px;
  height: 520px;
   border-radius: 25px;
 margin-bottom: 100px;
 margin-right: 300px;
  top: 100px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {

  color: gray;
}

/* Twitter */
.fa-twitter {

  color: gray;
}
.fa-instagram {

  color: gray;
}
.fa-linkedin {

  color: gray;
}
.ifg{

  height: 80px;
  width: 100px;
  border-radius: 50%;


}
.isg{

  height: 80px;
  width: 100px;
  border-radius: 50%;

}
.column {
  float: left;
  width: 25%;
  padding: 3px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}