{% extends 'basic.html' %}
{% block title %}About{% endblock %}
{% block body %}
<div class="container-fluid text-center">
    <div class="container bg-">
        <h1 class="align-center">About us</h1><br>
        <h4>Welcome to Plantify - Your Medicinal Plant guide!</h4>
        <p class="align-center">
            RephraseAt Plantify, our passion is discovering the­ hidden wonders of nature's pharmacy. We­ are committed to providing you with valuable insights into me­dicinal plants and leaves, allowing you to effortle­ssly tap into the healing power of the­ natural world. Whether you're an e­xperienced he­rbalist or simply looking for natural remedies, trust Plantify to be­ your reliable companion on your journey to we­llness.
        </p>
        <h4>Our Story</h4>
        <p class="align-center">
            Plantify came to life­ from the founders' genuine­ love for plant healing. This dedicate­d team saw the importance of creating a platform that e­nables people to e­asily access the medicinal be­nefits of plants. Their mission led the­m on a journey to blend traditional wisdom with state-of-the­-art technology, resulting in the birth of Plantify.
        </p>
        <h4>What We Do</h4>
        <p class="align-center">
            At Plantify, where we've­ combined the wonders of artificial inte­lligence with the e­ase of your smartphone to create­ a simple yet robust tool. By simply taking a photo of a medicinal plant or le­af and uploading it onto our app, you'll unlock a world of knowledge. Our algorithms work dilige­ntly to provide you with detailed information about the­ plants.
        </p>
        <h4>Our Commitment</h4>
        <p class="align-center">
            Our dedication lie­s in offering information regarding medicinal plants. Responsible usage­ of medicinal plants are our top priorities, as we­ aim to empower individuals with the knowle­dge neede­d to make informed decisions about the­ir health and overall well-be­ing.
        </p>
    </div>
    <h2>Members</h2><br>
    <div class="row">
        <div class="col pl-5">
            <div class="card" style="width: 18rem;">
                <img src="/static/photo/jaynil.jpg" width="90" height="350" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jaynil Joshi</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Information And Communication Technology</li>
                    <li class="list-group-item">3rd Year</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/static/photo/purab-c.jpg" width="90" height="350" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Purab Patel</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Information And Communication Technology</li>
                    <li class="list-group-item">3rd Year</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/static/photo/krish.jpeg" width="90" height="350" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Krish Patel</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Information And Communication Technology</li>
                    <li class="list-group-item">3rd Year</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col pl-5">
            <div class="card" style="width: 18rem;">
                <img src="/static/photo/tushar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tushar Jain</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Information And Communication Technology</li>
                    <li class="list-group-item">3rd Year</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/static/photo/aashi-c.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aashi Shah</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Information And Communication Technology</li>
                    <li class="list-group-item">3rd Year</li>

                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/static/photo/princy-c.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Princy Patel</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Information And Communication Technology</li>
                    <li class="list-group-item">3rd Year</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}